/* CSS declarations go here */

#insertUserForm, #updateSpeakersForm, #clear-people,h1, 
.single-speaker-info, #more-details, #insertSpeakersForm, #insertDetailForm{
	margin-left: 1em;
}

h2, h3{
	margin-left: 2em;
}

#left{
	margin-left: 4em;
}

#left, #right{
	margin: 1em;
	margin-bottom: -0.5em;
}

.button-text{
	color: inherit;
}

.add-form, .entry-list{
	float: left;
}

.entry-list{
	margin: 3em 0 0 4em;
}

.single-details-form, .single-details-list{
	float: left;
}

.single-details-list{
	margin: 1em 0 0 6em;
}

.speakerIdField, .form-group-no-show{
	display: none;
}

.login-welcome{
	text-align: center;
}

.layout-buttons{
	margin: 2em 0 1em 2em;
}

.add-form, #insertUserForm, .entry-list,
 #more-details{
	text-align: center;
}

.btn{
	border-radius: 88px;
}

.list-list .single-list{
	text-align: left;
}